@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    'primary': (
      'base': #D4AF37,
    ),
    'success': (
      'base': #10B981,
    ),
    'warning': (
      'base': #F59E0B,
    ),
    'danger': (
      'base': #F43F5E,
    ),
    'info': (
      'base': #6366F1,
    ),
  ),
  $bg-color: (
    'page': #020617,
    'overlay': rgba(15, 23, 42, 0.6),
  ),
  $text-color: (
    'primary': #F8FAFC,
    'regular': #94A3B8,
    'secondary': #475569,
  ),
  $border-color: (
    'base': rgba(255, 255, 255, 0.1),
    'light': rgba(255, 255, 255, 0.1),
    'lighter': rgba(255, 255, 255, 0.1),
    'extra-light': rgba(255, 255, 255, 0.05),
  )
);
